<section class="dashboard">
<header>
<div class="container">
    <div class="photo">
        {{!-- <img src="https://source.unsplash.com/random/200X200/?" alt=""> --}}
    </div>
    <div class="details">
        <p>{{userName}}</p>
        <p>{{userEmail}}</p>
        <p>{{userNumber}}</p>
    </div>
</div>
</header>
</section>