<section class="index">
    <h1>Login Form | <a href="/">Create</a></h1>
    <small style="color: rgb(221, 48, 48);">{{message}}</small>
  <form action="/check_data" method="post">
    <label for="email">Email :</label>
    <input type="text" name="email" id="email" placeholder="yourawesome@email" />
    <label for="password">Password :</label>
    <input type="text" name="password" id="password" />
    <input type="submit" name="submit" class="submit" />
  </form>
</section>